
#layout {
	-fx-background-image:url("/resource/background.jpg");
}

.label {
	-fx-background-color:white;
}

#main-canvas {
	-fx-border-style:solid;
	-fx-border-width:5px;
	-fx-border-color:red;
	-fx-border-radius:5.0;
}